@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar style start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #412567;
    color: white;
}

.responsive-nav {
    display: none;
}

.nav-container>h2 {
    color: white;
}

.nav-list {
    display: flex;
    gap: 32px;

}

.nav-list li {
    list-style: none;
    font-size: 16px;

}

.backgroud-grad {
    background: linear-gradient(40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.text-grad {
    background: linear-gradient(40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-button,
.btn {
    border: none;
    padding: 12.5px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
}

.nav-button::after {
    content: "→";
    font-size: 16px;
}

/* nav style end */
/* hero styles start */
.hero-container {
    width: 100%;
    height: 760px;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: contain;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px;
    position: relative;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading>h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 900;
    color: white;
}

.hero-heading>p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: auto;
    margin-bottom: 20px;
}

.hero-btn {
    padding: 12.5px;
    font-size: 16px;
    background-color: transparent;

    border: 2px solid green;
    border-radius: 10px;
    color: green;
}

.hero-circle {
    position: relative;
    z-index: 1;


}

.hero-circle .circle {
    height: 350px;
    width: 350px;
}

.mic {
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 25%;
    height: 200px;
}

.batch {
    position: absolute;
    padding: 8px;
    font-size: 18px;
    background-color: #00FF88;
    border: none;
    border-radius: 20px;
    z-index: 3;
    top: 20px;
    right: 20px
}

/* hero style end */

/* about styles start */
.about-conatiner {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(26, 11, 46);

}

.about-heading {
    width: 75%;
    text-align: center;
    margin-top: 40px;
}

.about-card {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.about-heading>h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    gap: 16px;
}

.about-heading>p {
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

hr {
    color: white;
    width: 75%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-card-info>h2 {
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;

}

.about-card-info>p {
    font-size: 16px;
    color: white;
}

/* about styles end */
/* choose container style start */
#choose-container {
    background-color: #230E3D;
    padding: 80px 0;
    /* fixed height বাদ */
}

.choose-section {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.choose-heading>h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.choose-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 273px);
    gap: 30px;

    /* Grid areas define */
    grid-template-areas:
        "item1 item2 item2"
        "item1 item3 item3"
        "item4 item4 item5";
}

/* Assign areas to items */
.grid-item:nth-child(1) {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.grid-item:nth-child(1)>h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.grid-item:nth-child(1)>p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 16px;
}

.grid-item:nth-child(2) {
    grid-area: item2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.grid-item:nth-child(2)>h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.grid-item:nth-child(2)>p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 16px;
}

.grid-item:nth-child(3) {
    grid-area: item3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.grid-item:nth-child(3)>h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.grid-item:nth-child(3)>p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 16px;
}

.grid-item:nth-child(4) {
    grid-area: item4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.grid-item:nth-child(4)>h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.grid-item:nth-child(4)>p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 16px;
}

.grid-item:nth-child(5) {
    grid-area: item5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.grid-item:nth-child(5)>h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.grid-item:nth-child(5)>p {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 16px;
}



/* Style for items */
.grid-item {
    background: #412567;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* choose container style end */

.feature-container {
    background-color: #1A0B2E;
    height: 1276px;
}

.feature-episodes-container {
    width: 75%;
    margin: 0 auto;

}

.feature-episodes-container>h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 120px;
}

.epicode-card {
    display: flex;
    gap: 30px;
}

.epicode-card-info {
    height: 440px;
    width: 380px;
    background-color: rgb(37, 13, 68);
    border: none;
    border-radius: 20px;
}

.card-content {
    padding: 24px;

}

.card-content>h2 {
    font-size: 24px;
    margin-bottom: 12px;
    color: white;
}

.card-content>p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: white;
}

.card-time {
    color: #00FF88;
}

iframe {
    width: 380px;
    height: 214px;
}

.host-container {
    width: 75%;
    margin: 0 auto;

}

.host-container>h2 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 48px;
    color: white;
}

.host-profile {
    background-color: rgb(37, 13, 68);
    height: 280px;
    border: none;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.host-content>h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.host-content>p {
    font: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.icon {
    display: flex;
    gap: 8px;
}

.icon>img {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.icon-container {
    height: 40px;
    width: 40px;
    border: 2px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer styles*/
#footer-conatiner {
    background-image: url("../assets/footer-bg.png");
    height: 412px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content>h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-bottom: 32px;
}

.media-icons>span {
    color: white;
    font-size: 16px;
}

.social-media {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.media-icons {
    display: flex;
    gap: 10px;
}

.footer-bootom>p {
    font-size: 16px;
    color: #FAFAFA;

}





/* Responsive design start */
@media screen and (max-width : 575px) {

    nav{
        justify-content: space-between;
    }
    .nav-list-container,
    .nav-button-container {
        display: none;
    }

    .responsive-nav {
        display: block;
    }

    /* hero responsive start*/
    .hero-container {
        height: auto;
        background-size: cover;
        padding: 40px 15px;

    }

    .hero-content {
        padding: 40px 15px;
    }

    .hero-heading {
        text-align: center;
    }

    .hero-heading>h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }

    .hero-heading>p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .hero-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .hero-circle .circle {

        height: 200px;
        width: 200px;
    }

    .mic {
        left: 35%;
        height: 80px;
    }

    .batch {
        top: 10px;
        right: 10px;
        font-size: 12px;
        padding: 5px 10px;
    }

    /* hero responsive end*/
    .choose-section {
        width: 90%;
    }

    .about-card {
        gap: 40px;

        flex-wrap: wrap;
    }

    .about-heading {
        width: 90%;
    }

    .about-heading>h2 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 40px;
    }

    .about-heading>p {
        font-size: 16px;
        line-height: 20px;
    }

    hr {
        margin-bottom: 40px;
    }

    .choose-heading>h2 {
        font-size: 32px;
        font-weight: bold;
    }

    .choose-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
        gap: 15px;
    }

    .feature-container {
        height: auto;
    }
    
    .feature-episodes-container>h2{
        font-size: 32px;
        padding-top: 40px;

    }

    .epicode-card {
        flex-direction: column;
    }

    .host-container {
        width: 90%;
        padding-bottom: 40px;
    }
    .host-container>h2{
        font-size: 32px;
        font-weight: bold;
        margin-top: 32px;
    }

    .host-profile {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .icon {
        justify-content: center;
    }

    /* footer*/
    #footer-conatiner {
        height: 248px;
        background-size: cover;
        background-position: center;
    }




    .footer-content>h2 {
        font-size: 28px;
       
        margin-bottom: 20px;
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
    }

    .social-media>* {
        flex: 0 0 calc(40% - 10px);
        
    }

  

    .media-icons>span {
        font-size: 14px;
    }

    .footer-bootom>p {
        font-size: 13px;
        text-align: center;
        padding: 0 10px;
    }




}